@import "/src/assets/sass/abstracts/vars";

.main {
  background-color: $color-blue-main !important;
  font-size: 1.6rem !important;
  font-family: inherit !important;
  font-weight: 500 !important;
  padding: 1.5rem 3rem !important;
  border-radius: 1rem !important;
  transition: all .1s !important;

  &:active {
    transform: translateY(0.3rem);
  }
}