@import "/src/assets/sass/abstracts/vars";

.heading {
  display: flex;
  justify-content: space-between;
  border-bottom: .1rem solid $color-gray-dark;
  padding-bottom: 2rem;

  & h3 {
    font-size: 2.2rem;
    font-weight: 500;
  }
}