.content {
  display: flex;
  flex-direction: column;
  align-items: center;

  & > div, h2 {
    margin-bottom: 3rem;
  }
}

.heading {
  margin-top: 4rem;
  font-size: 3rem;
}

.photo, .photo img{
  width: 14rem;
  height: 14rem;
  border-radius: 50%;
  object-fit: cover;
}

.userData {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  min-height: 4rem;

  & span {
    margin-right: 2rem;
  }
}

.mail {
  font-size: 2rem;
}