.loadingBlock {
  min-height: 40rem;
}

.center {
  position: absolute;
  top: 58%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.interactWithPack {
  display: flex;
  align-items: center;

  & button {
    cursor: pointer;
    display: flex;
    padding: 0 1rem;
  }

  & svg {
    width: 2rem;
    height: 2rem;
  }
}