@import "/src/assets/sass/abstracts/vars";

.emptyPack {
  color: $color-gray-darkest;
  font-size: 2.5rem;
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingBlock {
  min-height: 40rem;
}

.center {
  position: absolute;
  top: 58%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.interactWithPack {
  display: flex;
  align-items: center;

  & button {
    cursor: pointer;
    display: flex;
    padding: 0 1rem;
  }

  & svg {
    width: 2rem;
    height: 2rem;
  }
}