.pack {
  display: flex;
  align-items: center;
  padding: 2rem 4rem;

  & div:not(:last-child) {
    flex: 20%;
  }

  & div:last-child {
    flex: 5%;
  }
}

.icons {
  display: flex;
  justify-content: space-between;

  & svg {
    display: flex;
    cursor: pointer;
    width: 2.5rem;
    height: 2.5rem;
  }
}