.form {
  display: flex;
  flex-direction: column;
  padding: 0 2rem;

  & div:not(:last-child) {
    margin-bottom: 3rem;
    width: 100%;
  }
}

.input {
  font-size: 1.6rem !important;
  font-family: inherit !important;
}

.button {
  display: flex;
  justify-content: center;
}

.signIn {
  margin-bottom: 3rem;
  cursor: pointer;
}

.bottomArea {
  font-size: 1.8rem;
  display: flex;
  flex-direction: column;
  align-items: end;
}